.selected-page {
    border-bottom: solid 2px #02a4e7;
}

.cursor-pointer {
    cursor: pointer;
}

.item-element {
    max-width: 99px;
    width: 99px;
    max-height: 99px;
    height: 99px;
    float: left;
}

.scream-item {
    max-height: 240px;
    width: 100%;
    overflow: auto;
}

.display-none {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}
