.selected-page {
    border-bottom: solid 2px #02a4e7;
}

.cursor-pointer {
    cursor: pointer;
}

.item-element {
    max-width: 99px;
    width: 99px;
    max-height: 99px;
    height: 99px;
    float: left;
}

.scream-item {
    max-height: 240px;
    width: 100%;
    overflow: auto;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.visibility-hidden {
    visibility: hidden;
}

.text_ {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.common-item-page {
    max-height: 85px;
    min-height: 85px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.common-item-page::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.common-item-page::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.common-item-page::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 2px solid #555555;
}
